body{padding: 10px 50px;
    font-family: 'Comic Sans MS', serif;
    background-color: orange;}
#travel-background{
    background-color: #ff9c1b;}
    #travel-generator{
        background-color: #ff9c1b;}
#travelblog{background-color: rgb(147, 2, 160);
border-radius: 12px }
.button {
  background-color: rgb(114, 173, 237); /* Green */
 border-radius: 12px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-right: 15px;
  font-size: 16px;
  font-family: "Comic Sans MS", 
    sans-serif;font-size: 15px; 
}
.button:hover{
    color:#5962ec ;
    background-color:#5962ec ;
    transform: scale(1.2);
}
header {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    }